<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flaskr</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <!--{{ moment.include_jquery() }}-->
    <!--{{ moment.include_moment() }}-->
    <!--{{ moment.lang("zh-CN") }}-->
</head>
<body>
<div class="page">
    <h1>Flaskr</h1>
    <div class="metanav">
        <a href="{{ url_for('show_entries') }}">首页</a>
        <a href="{{ url_for('add_entry') }}">发布文章</a>
        {% if not current_user.is_authenticated %}
            <a href="{{ url_for('login') }}">登录</a>
        {% else %}
            <a href="#">{{ current_user.username }}</a>
            <a href="{{ url_for('logout') }}">注销</a>
        {% endif %}
        <!-- <p>{{ moment().format('YYYY年M月D日，h:mm:ss a') }}.</p> -->
    </div>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>
</body>
</html>